// 绿色金融
.qwjd_box{
    margin-top:30px;
}
.picScroll-left .hd , .picScroll-right .hd{
    position: absolute;
    top:-39px;
    right:0;
    width:80px;
    height:25px;
    background:#fff;
    a{
        position:absolute;
        top:0;
        width:25px;
        height:25px;
        background-color:$red;
        border-radius:3px;
        cursor:pointer;
    }
    .prev{
        left:10px;
        background-position:5px -112px;
    }
    .next{
        right:10px;
        background-position:-70px -112px;
    }
}

