.cy-section-company{
    .company-wrap{
        padding:80px 0;
        @include clearfix;
    }
    .slide{
        float:left;
        width:130px;
    }
    .list-wrap{
        position:relative;
        float:right;
        width:830px;
        overflow:hidden;
    }
    .list{
        width:100%;
        overflow:hidden;
        @include clearfix;
    }
    .item{
        float:left;
        width:830px;
        @include clearfix;
        .img-wrap{
            float:left;
            width:393px;
            margin:0 37px 35px 0;
        }
        .date-wrap{
            float:left;
            color:#555;
            letter-spacing: -0.05em;
            .num{
                margin:20px 0 5px 0;
                font-size:34px;
                color:$red-1;
                line-height:1;
            }
        }
        .detail{
            float:right;
            width:335px;
            .title{
                margin-bottom:20px;
                font-size:24px;
            }
            .title-2{
                position: relative;
                margin-bottom:20px;
                @include clearfix;
                &:before{
                    position: absolute;
                    content:"";
                }
                &:before{
                    right:0;
                    top:0;
                    bottom:0;
                    width:4px;
                    background:#333;
                }
                .title-l{
                    position: relative;
                    float:left;
                    font-size:18px;
                    &:after{
                        position: absolute;
                        content:"";
                    }
                    &:after{
                        left:0;
                        bottom:-10px;
                        width:35px;
                        height:2px;
                        background:#333;
                    }
                }
                .readmore{
                    position: relative;
                    float:right;
                    padding-right:10px;
                    &:hover{
                        color:$red-1;
                    }
                }
            }
            .content{
                line-height:1.8;
            }
        }
    }
    .base-pager{
        .item{
            width:131px;
            height:4px;
            background:$red-1;
            &:nth-child(2n){
                background:#333;
            }
            &:nth-child(3n){
                background:#c0c0c0;
            }
            a{
                display:block;
                height:4px;
            }
        }
    }
    .button-box{
        .button{
            position:absolute;
            top:100px;
            width:36px;
            height:39px;
            background:url(../img/icon-2.png) no-repeat 0 0;
            opacity: .4;
            &:hover{
                opacity: .7;
            }
        }
        .prev{
            left:20px;
        }
        .next{
            left:335px;
            background-position: right 0;
        }
    }
}