/** 党建面对面 **/
.cy-section-face{
    .company-wrap{
        padding-bottom:40px;
    }
    .list-wrap{
        width:860px;
    }
    .item{
        width:100%;
        .img-wrap{
            width:449px;
            margin:0 15px 0 0;
        }
        .date-wrap{
            .num{
                font-size:22px;
            }
        }
        .detail{
            width:335px;
        }
    }
}