/** section award group **/
.section-award-group{
    .group-items{
        @include clearfix;
    }
    .group-item{
        float:left;
        width:474px;
        margin:0 8px;
        padding-top:10px;
    }
    .group-item-main{
        @include clearfix;
        margin-bottom:20px;
        padding:0 5px 20px 10px;
        border-bottom:1px dotted $gray;
    }
    .group-item-pic{
        float:left;
        width:122px;
        height:102px;
        overflow:hidden;
        a img{
            transform:scale(1);
            transition:transform .5s ease-out;
        }
        a:hover img{
            transform:scale(1.2);
            transition:transform .5s ease-out;
        }
    }
    dl{
        float:right;
        width:325px;
        padding-top:8px;
    }
    dt{
        margin-bottom:5px;
        font-size:15px;
        line-height:1;
        color:$blue;
        h3{
            font-size:1em;
        }
    }
    dd{
        line-height:24px;
        span{
            color:$red;
        }
        a:hover{
            color:$red;
        }
    }
    .group-item-links{
        padding-left:15px;
        ul{
            padding:0 10px;
        }
        li{
            line-height:1.2;
            margin:8px 0;
            list-style:disc;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}