/** some style rewrite **/
.cy-page{
    font-family: "微软雅黑", "Microsoft Yahei", Arial, Helvetica, sans-serif;
    font-size:14px;
}
.cy-section{
    .main img{
        width:100%;
    }
}
a{
    color:inherit;
}
.phd{
    height:700px;
}
